@font-face {
    font-family: stardew;
    src: url(../assets/Stardew_Valley.ttf);
}
@font-face {
    font-family: stardew-caps;
    src: url(../assets/Stardew\ Valley\ ALL\ CAPS.ttf);
}
body {
    background-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/stardewbackground.png");
    background-size: cover;
    margin-top: 10vh;
    color: #a1432b;
    font-family: stardew-caps, Georgia, serif;
    .hidden-letter {
        display: inline-block;
        width: 20px;
        margin: 5px;
        font-size: 24px;
    }
    .guessed-letters {
        margin-top: 20px;
    }
    .box {
        background-color: #F7D78E;
        border-image: url(../assets/stardewborder.png) 30;
        border-style: solid;
        border-width: 2vw;
        margin: auto;
        font-weight: bolder;
    }
    #menu {
        #title {
            img {
                display: flex;
                justify-content: center;
            }
            .box {
                position: relative;
                    top: -5vh;
                width: 15vw;
                height: 10vh;
                h1 {
                    margin: 2vh 0 0 0;
                    font-size: 300%;
                }
            }
        }
        .box {
            display: flex;
            width: 10vw;
            align-items: center;
            justify-content: center;
        }
        #start {
            position: relative;
            top: 20vh;
            display: flex;
            justify-content: space-between;
            font-size: 150%;
            .box {
                height: 20vh;
                flex-direction: column;
            }
            // #settings {
            //     background-image: url(../assets/settings.png);
            // }
        }
    }
    #game {
        visibility: hidden;
        .box {
            display: flex;
            width: 25vw;
            flex-direction: column;
            justify-content: center;
        }
    }
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgba($color: #3d3d3d, $alpha: .5);
        border-radius: 15px;
        color: white;
        margin: auto;
        text-align: center;
    }
}