@import "./partials/_variables.scss";

body {
    background-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/stardewbackground.png");
    background-size: cover;
    margin-top: 5vh;
    color: #a1432b;
    font-family: stardew-caps, Georgia, serif;
    overflow-y: hidden;
    .hidden-letter {
        display: inline-block;
        width: 20px;
        margin: 5px;
        font-size: 24px;
    }
    .guessed-letters {
        margin-top: 20px;
    }
    .box {
        background-color: #F7D78E;
        border-image: url(../assets/stardewborder.png) 30;
        border-style: solid;
        border-width: 2vw;
        margin: auto;
        font-weight: bolder;
    }
    #menu {
        #title {
            #logo{
                position: relative;
                    left: 31%;
                    top: -1vh;
            }
            .box {
                    position: relative;
                    top: -5vh;
                width: 15vw;
                height: 10vh;
                h1 {
                    margin: 2vh 0 0 0;
                    font-size: 2.75vw;
                }
            }
        }
        .box {
            display: flex;
            width: 10vw;
            align-items: center;
            justify-content: center;
        }
        #start {
            display: flex;
            justify-content: space-between;
            font-size: 1.5vw;
            .box {
                height: 20vh;
                flex-direction: column;
            }
        }
    }
    #game, #settings-panel {
        visibility: hidden;
        @if(visibility:hidden){
                height: 0vh;
                width: 0vw;
                position: static;
        }
        position: absolute;
            top: 0;
            left: 35%;
        margin: auto;
        #screen {
            margin-top: 10vh;
            height: 40vh;
            display: flex;
            align-items: center;
            #junimos {
                img {
                    height: 50px;
                    width: 50px;
                    position: absolute;
                }
                #junimo-1 {
                    visibility: hidden;
                    left: 30%;
                }
                #junimo-2 {
                    visibility: hidden;
                    left: 35%;
                }
                #junimo-3 {
                    visibility: hidden;
                    left: 40%;
                }
                #junimo-4 {
                    visibility: hidden;
                    left: 45%;
                }
                #junimo-5 {
                    visibility: hidden;
                    left: 50%;
                }
            }
            #crops {
                display: flex;
                position: relative;
                    top: 30%;
                gap: .5vw;
            }
            
        }
        #word, #home {
            position: relative;
            top: 5vh;
            left: 90%;
            font-size: 1vw;
            #reset-button, #home-button {
                font-family: inherit;
                font-size: 1.5vw;
                background-color: #F7D78E;
                border-image: url(../assets/stardewborder.png) 30;
                border-style: solid;
                border-width: 2vw;
                margin: auto;
                font-weight: bolder;
                color: #a1432b;
                &:hover {
                    background-color: #dfc27e;
                    cursor: pointer;
                }
            }
        }
        .box {
            display: flex;
            width: 25vw;
            flex-direction: column;
            justify-content: center;
        }
    }
    #settings-panel {
        button {
            font-family: inherit;
            font-size: 1.5vw;
            background-color: #F7D78E;
            border-image: url(../assets/stardewborder.png) 30;
            border-style: solid;
            border-width: 2vw;
            margin: auto;
            font-weight: bolder;
            color: #a1432b;
        }
        div {
            display: flex;
        }
        #easy {
            background-color: #4fbe4f;
            &:hover {
                background-color: #409440;
                cursor: pointer;
            }
        }
        #medium {
            background-color: #beaa4f;
            &:hover {
                background-color: #998940;
                cursor: pointer;
            }
        }
        #hard {
            background-color: #be4f4f;
            &:hover {
                background-color: #943e3e;
                cursor: pointer;
            }
        }
    }
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgba($color: #3d3d3d, $alpha: .5);
        border-radius: 15px;
        color: white;
        margin: 9vh auto auto auto;
        text-align: center;
        width: max-content;
        padding: 5px;
    }
}